@model string;


@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: sticky; right: 25px; top 2px ;" class="text-white">
        <a asp-coontroller="@Model" asp-action="Create" class="btn btn-success"><i class="bg-info bi-plus-circle"></i> Add New </a>

    </div>
}
